/* Add font */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Mohave:ital,wght@0,300..700;1,300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sono:wght@200..800&display=swap');


#main {
    background-color: FFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; 
}

#body{
    font-family: Nunito;
    background-color: FFFFFF;
    border: solid black 0.5px;
    border-radius: 10px;
    height: 60%;
    width: clamp(900px, 60%, 1500px);

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 40px 7fr;


}

#left {
    grid-column: 1;
    grid-row: 1/3;
    height: fit-content;
    overflow-x: auto;

    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding-left: 30px;
    border-right: 1px solid rgb(207, 207, 207);
    height: 100%;
}

#btn-island{
    display: grid;
    grid-column: 2;
    grid-row: 1;
    align-items: center;
    padding-left: 10px;
    padding-right: 2%;


    grid-template-columns: 1fr 1fr  1fr;
}

/* Code to work with task button */
#add-task-btn{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column: 3;
    gap: 2px;
    justify-self: end;

    height: 30px;
    border-radius: 10px;   
}

#plus{
    font-size: 1.5rem;
    color: black;
}

.btn-desc{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Display area code */
#display{
    grid-column: 2;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0 4% 0 2%;
}

#empty-message{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 30px;
    text-align: center;
    color: rgb(167, 167, 167);
}

/* Left side code */
#title {
    font-size: clamp(3rem, 5vw, 7vh);
    grid-row: 1;
    padding-bottom: 30px;
}

#menu {
    grid-row: 2/-1;
    height: 100%;

    display: grid;
    grid-template-rows: repeat(7,1fr);
    gap: 10px;
}

.menu-btn{
    /* font-size: max(2vw, 3vh); */
    font-size: clamp(2.5rem, 3vw, 3vh);
    margin-bottom: 10px;
    width: max-content
}

.menu-btn:hover{
    /* font-size: max(2vw, 3vh); */
    font-size: calc(clamp(2rem, 3vw, 4vh) + 0.5vh);
    color: #3E5C76;
    padding-left: 30px;
    
}

/* Code to format how tasks look */
#task{
    display: grid;
    width: 100%;
    min-height: 80px;
    border-radius: 10px;
    padding: 10px 0px 0px 10px;
    overflow-x: hidden;

    margin-bottom: 15px;

    grid-template-columns: 50px 1fr 100px;
    grid-template-rows: 2fr 1fr 4px;


    border: 1px solid black;
}

#task-title{
    grid-column: 2;
    grid-row: 1;
    font-size: 2rem;
}

#task-description{
    grid-column: 2;
    grid-row: 2;
}

#date{
    grid-column: 3;
    grid-row: 1/3;
    font-size: 1.8rem;

}

#ac-date{
    font-size: 1.5rem;
}

.task-priority-high{
    grid-column: 2/4;
    grid-row: 3;
    background-color: rgba(254, 0, 0, 0.9);
}

.task-priority-mid{
    grid-column: 2/4;
    grid-row: 3;
    background-color: rgba(255, 255, 0, .9);

}

.task-priority-low{
    grid-column: 2/4;
    grid-row: 3;
    background-color: rgba(0, 255, 0, 0.9);

}

#check{
    grid-column: 1;
    grid-row: 1/3;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    padding-right: 10px;

}

[type="checkbox"]{
    width: 18px;
    height: 18px;
    accent-color: orange;

}

[type="checkbox"]:hover{
    width: 19px;
    height: 19px;
}

/* Code to edit input form */
dialog{
    align-self: center;
    width: 40%;
}

#form-buttons{
    display: flex;
    justify-content: space-around;
    width: 70%;
    justify-self: center;
}

.form-input-field{
    display: grid;
    grid-template-rows:1fr 1fr;
    padding-bottom: 20px;
}

textarea{
    resize: none;
    text-align: start;
}

fieldset{
    border: none;
}

[value="low"]{
    accent-color: rgba(0, 255, 0, 0.9);
}

[value="mid"]{
    accent-color: rgba(255, 255, 0, .9);
}

[value="high"]{
    accent-color: rgba(254, 0, 0, 0.9);
}